# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Jupyter
.ipynb_checkpoints

# Data (Don't commit large files)
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
models/*

# OS
.DS_Store
Thumbs.db
